<h2>SignIn</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'col-form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'col-form-label' %>
    <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <fieldset>
        <div class="custom-control custom-checkbox d-block my-2">
          <%= f.check_box :remember_me, class: 'custom-control-input' %>
          <%= f.label :remember_me, class: 'custom-control-label' %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">Sign In</button>
  </div>
<% end %>

<center>
  <%= render "devise/shared/links" %>
</center>
